body {
    overflow: hidden;
}

.row {
    height: 100vh;
}

.first-column {
    background-color: rgb(233, 241, 245);
}

.second-column {
    background-color: rgb(205, 223, 243);
}

.third-column {
    background-color: rgb(165, 214, 243);
}

#active-inbox {
    margin: 5px;
    box-shadow: 0px 5px 5px 1px rgb(70, 70, 249);
    background-color: rgb(70, 70, 249);
    color: white;
}

.active-message {
    margin: 5px;
    box-shadow: 0px 5px 5px 1px rgb(70, 70, 249);
    background-color: rgb(70, 70, 249);
    color: white;
}

#hover-1 {
    margin: 5px;
    box-shadow: 0px 5px 5px 1px;
}

/* hover style for the first column content */
#hover-1:hover {
    background-color: rgb(70, 70, 249);
    transition: 0.5s;
    color: white;
}

.message-1 {
    margin: 5px;
    box-shadow: 0px 5px 5px 1px;
}

/* hover style for the second column content */
#hover-message:hover {
    background-color: rgb(70, 70, 249);
    transition: 0.5s;
    color: white;
}

#reply:hover {
    transform: scale(1.1);
}

#search {
    margin: 5px
}